a {
  text-decoration: none;
  list-style-type: none;
  color: bisque;
}

.container {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
  background-color: rgb(132, 56, 56);
}

.in {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: span 4;
  gap: 10px 10px;
}

.in > div {
  color: white;
}