* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: lightgray;
}

/*Header styles start here*/

.topbar-main {
  width: 100%;
  background-color: #1e2024;
}

.topbar .list {
  display: grid;
  padding: 10px;
  background-color: #1e2024;
  color: #6c757d;
  grid-template-columns: 180px 100px 80px 60px;
  gap: 10px 10px;
  width: 1200px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.topbar .list > .item {
  border-right: 1px solid #6c757d;
  margin-right: 5px;
}

/*Header styles end here*/

/*logo styles start here*/
.logo-text {
  font-family: Arial;
  font-weight: bolder;
  color: #750c8a;
}

.logo-subtext {
  font-family: "Montserrat", sans-serif;
  color: #6c757d;
}

.logo-area {
  width: 100%;
  background-color: #fff;
  height: 120px;
}

.logo-wrapper {
  width: 1180px;
  margin: auto;
  font-size: 50px;
}

/*logo styles end here*/

/*Menu styles start here*/

.menu {
  width: 100%;
  background-color: #1e2024;
}

.menu .menu-list {
  display: grid;
  padding: 20px;
  background-color: #1e2024;
  color: #fff;
  font-weight: 10px;
  grid-template-columns: 80px 100px 130px 120px 100px 400px;
  gap: 10px 10px;
  width: 1200px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.menu .menu-list > .item {
  margin-right: 5px;
}

.item:hover {
  color: #750c8a;
  cursor: pointer;
}

/*Menu styles end here*/

/*Grid 1 styles start*/

.main-0-outer{
  width: 100%;
}

.main-1{
  display: grid;
  background-color: beige;
  grid: 200px 200px auto/auto auto auto auto auto;
}

/*Grid 1 styles end*/
